div {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #4CAF50;
  margin-bottom: 20px;
}

input[type="radio"] {
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

h2 {
  margin-top: 20px;
  color: #333;
}
